# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Notebook outputs + local workspace
.ipynb_checkpoints/
notebooks/results/
notebooks/*.ipynb
*.code-workspace

# Data files
results/
*.nc

# Build/egg
dist/
build/
*.egg-info/